<!DOCTYPE html>
<html>
<head>
  <title>treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="navbar-default navbar-inverse">
			<div class="container">
				<a href="#" class="navbar-brand">treebook</a>
				<ul class="nav navbar-nav">
					<li>
						<%= link_to "Statusas", statuses_path %>
					</li>
					<li>
						<%= link_to "Newsfeed", statuses_path %>
					</li>
					<li>
						<%= link_to "Friends", statuses_path %>
					</li>
				</ul>
			</nav>
		</dies_path
	</div>
	<div class="container">
		<%= yield %>
	</div>
<footer class="bs-footer" role="contentinfo">
	<div class="container">
		<div class="be-social"></div>
		<p>
			<a href=""></a>
			<a href=""></a>
		</p>
	</div>
</footer>
</body>
</html>
